.todo-item {
    display: flex;
    gap: 10px;
    padding: 10px;

    border: 1px solid #000049;
    border-radius: 10px;
}

.todo-item[data-status="true"] .todo-item__text {
    text-decoration: line-through;
}

.todo-item__checkbox {
    cursor: pointer;
}

.todo-item__remove {
    margin-left: auto;
    cursor: pointer;
}